:root {
  --clr-primary-100: hsl(30, 38%, 92%);
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-primary-active: hsl(158, 21%, 23%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-nuetral-700: hsl(212, 21%, 14%);

  /* fonts */
  --ff-primary-500: "Montserrat", sans-serif;
  --ff-accent: "Fraunces", serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
picture {
  display: block;
  max-width: 100%;
}

h1,
h2 {
  font-family: var(--ff-accent);
  font-weight: 700;
  margin: 20px 0;
}

body {
  font-size: 14px;
  background-color: var(--clr-primary-100);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}
main {
  margin-bottom: 30px;
}

.img {
  border-radius: 15px 15px 0 0;
  margin-bottom: 0;
}

.hero {
  margin-bottom: 0;
}
.content {
  background-color: var(--clr-neutral-100);
  /* padding: 1.4rem; if container is removed */
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 1.45rem;
}
.span {
  font-family: var(--ff-primary-500);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--clr-neutral-400);
  letter-spacing: 4px;
}
.main_text {
  font-family: var(--ff-primary-500);
  font-weight: 500;
  margin: 10px 0;
  color: var(--clr-neutral-400);
}
.heading_text {
  color: var(--clr-nuetral-700);
}
.price {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-size: 24px;
}

i {
  margin-right: 0.3rem;
}
.old_price {
  font-family: var(--ff-primary-500);
  display: block;
  color: var(--clr-neutral-400);
  margin-left: 1.5em;
  font-size: 11px;
  font-weight: 500;
}
.aside {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.btn {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  border: none;
  font-family: var(--ff-primary-500);
  font-weight: 700;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--clr-primary-active);
}

.attribution {
  margin-top: 2rem;
  font-size: 12px;
  text-align: center;
  font-family: var(--ff-primary-500);
  font-weight: 700;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 565px) {
  .img {
    border-radius: 10px 0 0 10px;
    height: 100%;
  }
  img {
    content: url(./images/image-product-desktop.jpg);
  }
  picture {
    display: inline;
  }
  body {
    min-height: 100vh;
  }

  main {
    display: flex;
    max-width: 575px;
  }

  .hero {
    width: 50%;
    border-radius: 0 10px 10px 0;
  }
  .content {
    width: 50%;
    border-radius: 0 10px 10px 0;
  }
  .heading_text,
  .price {
    margin: 20px 0;
  }
}
